{% extends "_base.html" %}

{% block content %}
<div class="body-content">

{% if games %}
  <div class="row">
    <div class="col-xs-12 gamebox-header">Choose From Search Results</div>
  {% for g in games %}
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 gamebox">
    <a href="{{ url_for( 'main.find_game', asin=g.store_id )}}">
    <img src="{{ g.img_url }}" class="img-thumbnail"><br>
    <span class="gamebox-title">{{ g.title }}</span>
    </a><br>
    <span class="gamebox-pub">{{ g.publisher }}</span>
  </div>
  {% if not loop.index % 2 %}<div class="clearfix visible-xs-block"></div>{% endif %}
  {% if not loop.index % 3 %}<div class="clearfix visible-sm-block"></div>{% endif %}
  {% if not loop.index % 4 %}<div class="clearfix visible-md-block"></div>{% endif %}
  {% if not loop.index % 4 %}<div class="clearfix visible-lg-block"></div>{% endif %}

  {% endfor %}
{% else %}
    <div class="col-xs-12 gamebox-header">No Results Found</div>
{% endif %}

</div><!-- body-content -->
{% endblock %}
